.places__paragraph {
	padding: 0;
	margin: 26px 0 0;
	/*font-family: 'Inter';
	font-style: normal;*/
	font-weight: 400;
	font-size: 18px;
	line-height: 1.63;
}

.places__paragraph:first-of-type {
	margin-top: 0;
}

@media screen and (max-width: 1000px) {
	.places__paragraph {
		font-size: 16px;
	}
}

@media screen and (max-width: 700px) {
	.places__paragraph {
		margin: 26px 16px 0;
	}
}